<div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
    <h6 class="dropdown-header">
        Alerts Center
    </h6>
    <div *ngFor="let task of all">
        <div *ngIf="task.Task_Assigned == user.EmpId">
            <a (click)='profile()' class="dropdown-item d-flex align-items-center">
                <div class="mr-3">
                    <div class="icon-circle bg-primary">
                        <i class="fas fa-file-alt text-white"></i>
                    </div>
                </div>
                <div>
                    <div class="small text-gray-500">{{task.Task_Name}}</div>
                    <span class="font-weight-bold">{{task.Task_Description}}</span>
                </div>
            </a>
        </div>
    </div>
    <a class="dropdown-item text-center small text-gray-500">Show All Alerts</a>
</div>